@page
@model GradTest2.Models.Product
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Info</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <td>@ViewBag.product.Name</td>님 환영합니다.
        </tr>
        <tr>
            <td>파일명</td>
            <td>@ViewBag.product.Excel</td>
        </tr>
    </table>

</body>
</html>